body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

header {
  text-align: center;
  font-size: 1.75em;
}

footer {
  margin-top: 20%;
  font-size: 80%;
  text-align: center;
}

.app {
  background-color: #f0f5f7;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px #888888;

  width: min(900px, 92vw); /* gjør den større, men responsiv */
  margin: 40px auto; /* litt luft rundt */
  padding: 32px 48px; /* mer “kort”-følelse */
}

.main-info {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.currentTemp {
  font-size: 5em;
  margin-top: 0.7em;;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#current-icon img {
  margin-top: 2.4em;
  height: 10em;
  width: 10em;
}

#information-of-current-weather {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

#current-day-display {
  font-size: 1em;
  font-weight: 30;
}

#search-tab {
  padding-left: 10%;
}

#search-area {
  border-radius: 0;
  width: 15em;
  height: 2.7em;
  border: none;
}

#search-button {
  border-radius: 0;
  padding: 0;
  width: 3em;
  border: none;
  background-color: #309edb;
  border-radius: 8px;
}

#search-button,
#search-area {
  height: 4em;
}

#weather-info,
#current-day-info {
  color: #737373;
}

#current-day-info {
  font-size: 1.5em;
}

#weather-values {
  color: #86a3bf;
  font-size: 0.8em;
}

#days-of-the-week {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  font-size: 1.4em;
}

#current-city {
  font-size: 4em;
  font-weight: 20;
  margin-top: 10%;
}
